/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    height: 100vh;
    min-width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    gap: 5vh;
}

.smallGameboard {
    display: flex;
    flex-wrap: wrap;
    width: 25vh;
    height: 25vh;
    border: solid 1px rgb(255, 255, 255)
}

.bigGameboard {
    display: flex;
    flex-wrap: wrap;
    width: 50vh;
    height: 50vh;
    border: solid 1px rgb(255, 255, 255)
}

.smallSquare {
    width: 2.5vh;
    height: 2.5vh;
    border: solid 1px rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 110, 255);  
}

.square {
    width: 5vh;
    height: 5vh;
    border: solid 1px rgb(255, 255, 255);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 110, 255); 
}

.squareWithShip {
    background-color: rgb(100, 100, 100);
}

.squareWithShipHitFriendly {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    border: solid calc(1.25vh/4) red;
    box-sizing: border-box;
}

.squareHitByEnemy {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(0, 110, 255);
    box-sizing: border-box;
    border: solid calc(1.25vh/4) rgb(255, 255, 255); 
}

.squareWithShipHitEnemy {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(255, 166, 0);
    border: solid calc(2.5vh/4) red;
    box-sizing: border-box;
}

.squareHitByFriendly {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgb(0, 110, 255);
    box-sizing: border-box;
    border: solid calc(2.5vh/4) rgb(255, 255, 255) 
}

h1 {
    font-size: 5vh;
}

h2 {
    font-size: 3vh;
}

h3 {
    font-size: 2vh;
}

.interactiveButton {
    appearance: none;
    color: white;
    background-color: rgb(0, 110, 255);
    padding: 2vh;
    border-radius: 1vh;
    border: none;
    font-size: 2vh;
    font-weight: bold;
}

.interactiveButton:hover {
    filter: brightness(125%)
}

.inputClass {
    appearance: none;
    color: black;
    padding: 2vh;
    border-radius: 1vh;
    border: solid 2px black;
    font-size: 2vh;
}

.centerDiv {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
}

.instructionsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    width: 100%;
}

.carrier {
    height: 2.5vh;
    width: 12.5vh;
    background-color: rgb(100, 100, 100);
}

.battleship {
    height: 2.5vh;
    width: 10vh;
    background-color: rgb(100, 100, 100);
}

.destroyer, .submarine {
    height: 2.5vh;
    width: 7.5vh;
    background-color: rgb(100, 100, 100);
}

.patrolBoat {
    height: 2.5vh;
    width: 5vh;
    background-color: rgb(100, 100, 100);
}

.fleetArray {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: start;
    height: 25vh;
}

.flexContainer {
    display: flex;
    gap: 5vh;
    justify-content: space-between;
    align-items: center;
    width: 25vh;
    padding: 0.75vh;
    border-radius: 1vh;
    border: solid 1px rgba(0, 0, 0, 0)
}

.flexContainer:hover {
    border: solid 1px black
}

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.shipSelected {
    border: solid 1px black
}

.orientationSelected {
    background-color: orange;
}

.placeableShip {
    background-color: rgb(100, 100, 100);
}

.unplaceableShip {
    background-color: rgb(121, 0, 0);
}